Python Homework Section 4


**1.What does one need to do to use a module?** 

_If we want to use code from a module or a library in our applications, we first need to import the respective module into our code-base. by using the import statement._


**2.  Name a Module (not the DateTime Nodule) we looked at and write a line or 2 of code as an example using this module.**

_random module 
import random 
j = random.randrange(2,99)
print(j)_


**3.  What is a benefit of using Exception handling?**

_So when and error is raised in the try block, the except block will be executed. Without the try block, the program will crash. With this code device we can keep going past many errors._

**4.  what are the 4 components used for Python Exception Handling?**

 _The try block lets you test a block of code for errors. - The except block lets you handle the error. -The else block lets you execute code when there is no error. -The finally block lets you execute code, regardless of the result of the try- and except blocks._


**5.  NumPy arrays are like what Python data type?**

 _list_


**6. What is one of the main benefits of using NumPy arrays.**


 _seamlessly and speedy integrate with a wide variety of databases_


**7.  What is one of the main requirements about the 'dtype' of NumPy arrays?**


_you can specifically change which data type you are using_


**8. Of the 10 uses of NumPy, name 2.**


 _Numpy arrays Numby slicing_


**9. Name one of the other libraries we'll use with NumPy?**

_panda_


**10.  What is the shape of NumPy arrays?**

_The shape is a tuple of non-negative integers that specify the dimensions, length and size of each array (3,2,4)_


**11.  What is a Tensor?**

_3-d numpy array_


**12. Name a reason why it's better using NumPy for Data Analysis than using a Python List?**

_Less Memory - NumPy arrays occupy less memory as compared to lists Fast - NumPy arrays are faster compared to lists Convenient - it is convenient to work with NumPy Biggest difference between Python lists and NumPy arrays:- NumPy array elements are homogeneous -- of the same or a similar kind or nature_


**13. When creating an "empty" array, where do the elements come from?**
_It just means the array doesn't have its values initialized (i.e., they are unpredictable and depend on whatever happens to be in the memory allocated for the array_

**1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."**

In [56]:

age = 24
if age > 25:
    print('Renting a car is more affordable')
else :
    print('Renting a car is very expensive.')

Renting a car is very expensive.

**2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."**

In [57]:

age = 26
if age > 25 :
    print('Renting a car is more affordable')
elif age < 25 and age >=18:
    print('Renting a car is very expensive')
else:
    print('You cannot legally rent a car')

Renting a car is more affordable

**3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"**

In [58]:

animals = ("The quick brown fox jumps over the lazy dog")
for letters in animals:
    if letters in 'aeiou':
        print(letters)
len(animals)

e
u
i
o
o
u
o
e
e
a
o

43

**4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}**

In [59]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone =  {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for c in couture:
    for p in panettone:
        print(p, c)

maple trousers
auburn trousers
Dark Sapphire trousers
gunmetal blue trousers
cerise trousers
burnt sienna trousers
aqua trousers
fuchsia trousers
maple blouse
auburn blouse
Dark Sapphire blouse
gunmetal blue blouse
cerise blouse
burnt sienna blouse
aqua blouse
fuchsia blouse
maple bandana
auburn bandana
Dark Sapphire bandana
gunmetal blue bandana
cerise bandana
burnt sienna bandana
aqua bandana
fuchsia bandana
maple cumber band
auburn cumber band
Dark Sapphire cumber band
gunmetal blue cumber band
cerise cumber band
burnt sienna cumber band
aqua cumber band
fuchsia cumber band
maple blazer
auburn blazer
Dark Sapphire blazer
gunmetal blue blazer
cerise blazer
burnt sienna blazer
aqua blazer
fuchsia blazer
maple vest
auburn vest
Dark Sapphire vest
gunmetal blue vest
cerise vest
burnt sienna vest
aqua vest
fuchsia vest
maple french beret
auburn french beret
Dark Sapphire french beret
gunmetal blue french beret
cerise french beret
burnt sienna french beret
aqua french beret
fuchsia french beret
maple scarf
auburn scarf
Dark Sapphire scarf
gunmetal blue scarf
cerise scarf
burnt sienna scarf
aqua scarf
fuchsia scarf
maple stole
auburn stole
Dark Sapphire stole
gunmetal blue stole
cerise stole
burnt sienna stole
aqua stole
fuchsia stole

**5. Use range as a loop to calculate the sum of all the numbers from 1 to 100**

In [60]:
sum = 0 
for num in range(0, 100):
    sum = sum + num
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

**6. Print the second item in this fruits list. ["apple", "banana", "cherry"]**

In [61]:

fruit = ["apple", "banana", "cherry"]
print(fruit[1])

banana

**7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]**

In [62]:

fruit = ["apple", "banana", "cherry"]
fruit[0] = "kiwi"
print(fruit)

['kiwi', 'banana', 'cherry']

**8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]**

In [63]:

fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

**9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]**

In [64]:

fruit = ["apple", "banana", "cherry"]
fruit.insert(1,"lemon")

**10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]**

In [65]:
10.
fruit = ["apple", "banana", "cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

**11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]**

In [66]:

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[-3])
print(fruit[-2])

kiwi
melon

**12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]**

In [67]:

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[2:5])

['cherry', 'orange', 'kiwi']

**13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]**

In [68]:

fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruit))

7

**14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]**

In [69]:
14. 
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruit.reverse()
print(fruit)

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

**15. Use the DateTime module to get Current Date and Time, and save it to a variable. Then extract just the Full month name form that variable.**

In [70]:
 
import datetime as dt

In [71]:
a = dt.datetime(2025, 1, 23)
print(a)

2025-01-23 00:00:00

**16. Write a simple function that takes 2 parameters -- a first name and a day name.

Set a default value for the day name of Sunday.
Have the function print out a greeting -- using the parameters -- that says something like "Hi first-name! Happy day-name!". Remember to use the variables in the greeting to replace first-name and day-name.
Invoke this function with 2 variables.
Invoke this function with 1 variable only.**

In [72]:
first_name = " Jada "
day_name = " Thursday "
Into = "Hi" + first_name + "Happy" + day_name
print(Into)

Hi Jada Happy Thursday

**17. Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the try,except, else, and finally components.**

In [73]:
try : 
    print(N)
except :
    print("I will be turning 27 years old this year")
else : 
    print("As of now, i am 26 years old")
finally : 
    print("Last year I was 25 years old")

I will be turning 27 years old this year
Last year I was 25 years old