Python Homework Section 4
1. # If we want to use code from a module or a library in our applications, we first need to import the respective module into our code-base. by using the import statement.
2. ## 
3. ### So when and error is raised in the try block, the except block will be executed. Without the try block, the program will crash. With this code device we can keep going past many errors.
4. ### The try block lets you test a block of code for errors. - The except block lets you handle the error. -The else block lets you execute code when there is no error. -The finally block lets you execute code, regardless of the result of the try- and except blocks.
5. #### list 
6. ### seamlessly and speedy integrate with a wide variety of databases
7. #
8. ### Numpy arrays Numby slicing
9. ### panda
10. ### The shape is a tuple of non-negative integers that specify the dimensions, length and size of each array (3,2,4)
11. ###### 3-d numpy array
12. #### Less Memory - NumPy arrays occupy less memory as compared to lists Fast - NumPy arrays are faster compared to lists Convenient - it is convenient to work with NumPy Biggest difference between Python lists and NumPy arrays:- NumPy array elements are homogeneous -- of the same or a similar kind or nature
13. #### It just means the array doesn't have its values initialized (i.e., they are unpredictable and depend on whatever happens to be in the memory allocated for the array

In [1]:
1.
match age: 24
    case _ if age > 25:
        print('Renting a car is more affordable')
    case _ if score < 25:
        print('Renting a car is very expensive.')

SyntaxError: invalid syntax (3884981069.py, line 2)

In [20]:
2. 
age = 26
b = 25
c = 18
if age > b:
    print('Renting a car is more affordable')
if age < b , but >= c:
    print('Renting a car is very expensive')
if age < than c:
    print('You cannot legally rent a car')

SyntaxError: invalid syntax (1002261124.py, line 7)

In [19]:
if age is >= 25:
    print("Renting a car is more affordable.")
else:
    print("Renting a car is very expensive.")
if age is >= 18:
    print("Renting a car is very expensive.")
else:
    print("You cannot legally rent a car.")

SyntaxError: invalid syntax (2420071260.py, line 1)

In [21]:
animals = ("The quick brown fox jumps over the lazy dog")
for letters in animals:
    if letters in 'aeiou':
        print(letters)
for letters in animals:
    if letters in sum_of_letters:
            print(letters)

e
u
i
o
o
u
o
e
e
a
o

NameError: name 'sum_of_letters' is not defined

In [13]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone =  {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for c in couture:
    for p in panettone:
        print(p, c)

gunmetal blue trousers
auburn trousers
cerise trousers
aqua trousers
fuchsia trousers
maple trousers
Dark Sapphire trousers
burnt sienna trousers
gunmetal blue blouse
auburn blouse
cerise blouse
aqua blouse
fuchsia blouse
maple blouse
Dark Sapphire blouse
burnt sienna blouse
gunmetal blue bandana
auburn bandana
cerise bandana
aqua bandana
fuchsia bandana
maple bandana
Dark Sapphire bandana
burnt sienna bandana
gunmetal blue cumber band
auburn cumber band
cerise cumber band
aqua cumber band
fuchsia cumber band
maple cumber band
Dark Sapphire cumber band
burnt sienna cumber band
gunmetal blue blazer
auburn blazer
cerise blazer
aqua blazer
fuchsia blazer
maple blazer
Dark Sapphire blazer
burnt sienna blazer
gunmetal blue vest
auburn vest
cerise vest
aqua vest
fuchsia vest
maple vest
Dark Sapphire vest
burnt sienna vest
gunmetal blue french beret
auburn french beret
cerise french beret
aqua french beret
fuchsia french beret
maple french beret
Dark Sapphire french beret
burnt sienna french beret
gunmetal blue scarf
auburn scarf
cerise scarf
aqua scarf
fuchsia scarf
maple scarf
Dark Sapphire scarf
burnt sienna scarf
gunmetal blue stole
auburn stole
cerise stole
aqua stole
fuchsia stole
maple stole
Dark Sapphire stole
burnt sienna stole

In [30]:
sum = 0 
for num in range(0, 100):
    sum = sum + num
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [33]:
6.
fruit = ["apple", "banana", "cherry"]
print(fruit[1])

banana

In [49]:
7. 
fruit = ["apple", "banana", "cherry"]
fruit[0] = "kiwi"
print(fruit)

['kiwi', 'banana', 'cherry']

In [47]:
8.
fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
9.
fruit = ["apple", "banana", "cherry"]
fruit.insert(1,"lemon")

In [60]:
10.
fruit = ["apple", "banana", "cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

In [68]:
11.
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[-3])
print(fruit[-2])

kiwi
melon

In [92]:
12. 
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[2:5])

['cherry', 'orange', 'kiwi']

In [93]:
13. 
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruit))

7

In [90]:
14. 
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruit.reverse()
print(fruit)

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [96]:
15. 
import datetime as dt

In [109]:
a = dt.datetime(2025, 1, 23)
print(a)

2025-01-23 00:00:00

In [116]:
name = " Jada "

print("Hi (first_name)!")

NameError: name 'Jada' is not defined