### SECTION 7.1

### 1. SELECT Make, ModelYear, Model 
FROM EVRegistry;

#### 2. SELECT ElectricVehicleType
FROM EVRegistry;

3. ### SELECT BatteryElectricVehicles
FROM EVRegistry;


### 4. SELECT DISTINCT Make, Model, BaseMSRP
FROM EVRegistry
WHERE BaseMSRP BETWEEN 20000 AND 35000;

### SECTION 7.2
## 1. SELECT City 
FROM EVRegistry
WHERE City is NULL;

### 2. SELECT Make, Model, ElectricVehicleType, ElectricRange
From EVRegistry
WHERE VIN is "3E1EA1J";

#### 3. SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
WHERE Make = 'Telsa'
ORDER BY Make, ModelYear ASC;

### 4. SELECT StationID, Count(*) as numUses
FROM EVCharging
GROUP BY StationID 
ORDER BY COUNT(*) ASC
LIMIT 5

### 5. SELECT userId, MIN(chargeTimeHrs) as 'minhours', MAX(chargeTimeHrs) as 'maxHours'
FROM EVCharging
WHERE chargeTimeHrs > 0.5 
GROUP BY userId
ORDER BY 2;

#### SECTION 7.3
### 1. SELECT ROUND(AVG(chargeTimeHrs),2) as 'avgChargeTime',weekday
FROM EVCharging;

### 2. SELECT userId, ROUND(SUM(kwhTotal),2) as 'totalPower'
FROM EVCharging
GROUP BY userId
ORDER BY totalPower DESC
LIMIT 15;

## 3. SELECT typeFacility, COUNT(*) as 'numStation', SUM(chargeTimeHrs)
FROM factCharge
INNER JOIN dimFacility
ORDER BY ASC;

### 4. Primary Key-identifies each record that exist in our tble 
### Foreign Key in one table refers to the primary key in a connected table 

### 5. SELECT userId, MIN(chargeTimeHrs) as 'minhours', MAX(chargeTimeHrs) as 'maxHours'
FROM EVCharging
WHERE chargeTimeHrs > 1 
GROUP BY userId
LIMIT 2;